# Séries Temporais (Time Series)

Notebook de apoio para a **Aula 001: Time Series (Séries Temporais) - Parte 1**

### 1. Como importar Time Series em Python

In [4]:
# importar pacotes e setar configurações de plots
import pandas as pd
from statsmodels.tsa.seasonal import seasonal_decompose
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style()

%matplotlib inline

In [10]:
# url do dataset
dateset_path = "Electric_Production.csv"

# importar o csv para um dataframe
df = pd.read_csv(dateset_path)

# ver as 5 primeiras entradas
df.head(13)

          DATE    Value
0   01-01-1985  72.5052
1   02-01-1985  70.6720
2   03-01-1985  62.4502
3   04-01-1985  57.4714
4   05-01-1985  55.3151
5   06-01-1985  58.0904
6   07-01-1985  62.6202
7   08-01-1985  63.2485
8   09-01-1985  60.5846
9   10-01-1985  56.3154
10  11-01-1985  58.0005
11  12-01-1985  68.7145
12  01-01-1986  73.3057

In [ ]:
#27:10 https://cursos.sigmoidal.ai/2565-escola-de-data-science/137943-aula-001-series-temporais-analise-exploratoria